div#hero {
	background-color: #474747;
	color: #fff;
	min-height: 100%;
	position: relative;
	text-align: center;
}

div#hero div#particles-js {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

div#hero div#particles-js canvas{
	display:block;
	vertical-align:bottom;
}

div#hero div#introduction {
	padding: 100px;
	position: relative;
	z-index: 4;
}

div#hero div#introduction h2 {
	margin: 0;
}

div#hero div#introduction p {
	font-size: 18px;
	margin: 20px auto;
	text-align: left;
	width: 740px;
	word-wrap:break-word;
}

div#hero div#introduction ul.list-inline li {
	padding: 0 40px 0 0;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#hero div#introduction p {
		width: 100%;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}