{% extends "../template.html" %}
{% block title %}{{ _('Reset Password') }}{% end %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/accounts/reset-password.css') }}">
{% end %}
{% block body %}
<div id="reset-password">
    <h2>{{ _('Reset Password') }}</h2>
    <div class="alert alert-danger hide"></div> <!-- .alert-danger -->
    <div class="alert alert-info hide"></div> <!-- .alert-info -->
    <form id="reset-password-form" onSubmit="onSubmit(); return false;">
        <div class="form-group form-group-lg">
            <label class="control-label" for="username">{{ _('Username') }}</label>
            <input id="username" class="form-control" type="text" maxlength="16">
        </div> <!-- .form-group -->
        <div class="form-group form-group-lg">
            <label class="control-label" for="email">{{ _('Email') }}</label>
            <input id="email" class="form-control" type="text" maxlength="64">
        </div> <!-- .form-group -->
        {% module xsrf_form_html() %}
        <button class="btn btn-raised btn-primary btn-block" type="submit">{{ _('Send verification email') }}</button>
    </form> <!-- #reset-password-form -->
</div> <!-- #reset-password -->
{% end %}
{% block scripts %}
<script type="text/javascript">
    function onSubmit() {
        $('.alert').addClass('hide');
        $('button[type=submit]').attr('disabled', 'disabled');
        $('button[type=submit]').html('{{ _('Please wait...') }}');

        var username        = $('#username').val(),
            email           = $('#email').val(),
            xsrfToken       = getCookie("_xsrf");
        return doForgotPasswordAction(username, email, xsrfToken);
    }
</script>
<script type="text/javascript">
    function doForgotPasswordAction(username, email, xsrfToken) {
        var postData = {
            'username': username,
            'email': email,
            '_xsrf': xsrfToken
        };

        $.ajax({
            type: 'POST',
            url: '{{ base_url('/accounts/forgot-password') }}',
            data: postData,
            dataType: 'JSON',
            success: function(result){
                return processForgotPasswordResult(result);
            }
        });
    }
</script>
<script type="text/javascript">
    function processForgotPasswordResult(result) {
        if ( result['isSuccessful'] ) {
            $('.alert-info').html('{{ _('An email with password reset instructions has been sent to your email address.') }}');
            $('.alert-info').removeClass('hide');
            $('#reset-password-form').addClass('hide');
        } else {
            $('.alert-danger').html('{{ _('Incorrect username or email.') }}');
            $('.alert-danger').removeClass('hide');
        }
        $('button[type=submit]').html('{{ _('Send verification email') }}');
        $('button[type=submit]').removeAttr('disabled');
    }
</script>
{% end %}
