{% extends "../template.html" %}
{% block title %}{{ _('Reset Password') }}{% end %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/accounts/reset-password.css') }}">
{% end %}
{% block body %}
<div id="reset-password">
    <h2>{{ _('Reset Password') }}</h2>
    <div class="alert alert-danger hide"></div> <!-- .alert-danger -->
    <div class="alert alert-info hide"></div> <!-- .alert-info -->
    <form id="reset-password-form" onSubmit="onSubmit(); return false;">
        <div class="form-group form-group-lg">
            <label class="control-label" for="new-password">{{ _('New password') }}</label>
            <input id="new-password" class="form-control" type="password" maxlength="16">
        </div> <!-- .form-group -->
        <div class="form-group form-group-lg">
            <label class="control-label" for="confirm-password">{{ _('Confirm new password') }}</label>
            <input id="confirm-password" class="form-control" type="password" maxlength="64">
        </div> <!-- .form-group -->
        {% module xsrf_form_html() %}
        <button class="btn btn-raised btn-primary btn-block" type="submit">{{ _('Reset Password') }}</button>
    </form> <!-- #reset-password-form -->
</div> <!-- #reset-password -->
{% end %}
{% block scripts %}
{% if not is_token_valid %}
<script type="text/javascript">
    $(function() {
        adjustFooterPosition(-12);
    });
</script>
<script type="text/javascript">
    $(function() {
        $('.alert-danger').html('{{ _('The token for resetting password seems invalid.') }}');
        $('.alert-danger').removeClass('hide');
        $('#reset-password-form').addClass('hide');
    });
</script>
{% else %}
<script type="text/javascript">
    $(function() {
        adjustFooterPosition(110);
    });
</script>
<script type="text/javascript">
    function onSubmit() {
        $('.alert').addClass('hide');
        $('button[type=submit]').attr('disabled', 'disabled');
        $('button[type=submit]').html('{{ _('Please wait...') }}');

        var email           = '{{ email }}',
            token           = '{{ token }}',
            newPassword     = $('#new-password').val(),
            confirmPassword = $('#confirm-password').val(),
            xsrfToken       = getCookie("_xsrf");
        return doResetPasswordAction(email, token, newPassword, confirmPassword, xsrfToken);
    }
</script>
<script type="text/javascript">
    function doResetPasswordAction(email, token, newPassword, confirmPassword, xsrfToken) {
        var postData = {
            'email': email,
            'token': token,
            'newPassword': newPassword,
            'confirmPassword': confirmPassword,
            '_xsrf': xsrfToken
        };

        $.ajax({
            type: 'POST',
            url: '/accounts/reset-password',
            data: postData,
            dataType: 'JSON',
            success: function(result){
                return processResetPasswordResult(result);
            }
        });
    }
</script>
<script type="text/javascript">
    function processResetPasswordResult(result) {
        if ( result['isSuccessful'] ) {
            window.location.href = '/accounts/login';
        } else {
            var errorMessage = '';

            if ( result['isPasswordEmpty'] ) {
                errorMessage += '{{ _('You cannot leave new password empty.') }}<br>';
            } else if ( !result['isPasswordLegal'] ) {
                errorMessage += '{{ _('The length of password must between 6 and 16 characters.') }}<br>';
            }
            if ( !result['isPasswordMatched'] ) {
                errorMessage += '{{ _('New passwords don\'t match.') }}<br>';
            }
            $('.alert-danger').html(errorMessage);
            $('.alert-danger').removeClass('hide');
        }
        $('button[type=submit]').html('{{ _('Reset Password') }}');
        $('button[type=submit]').removeAttr('disabled');
    }
</script>
{% end %}
{% end %}
