{% extends "../template.html" %}
{% block title %}{{ _('Introduction') }}{% end %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/default/homepage.css') }}">
{% end %}
{% block body %}
<div id="hero">
    <div id="particles-js"></div> <!-- #particles-js -->
	<div id="introduction">
		<img src="{{ static_url('img/Logo.png') }}" alt="Logo">
		<h3>{{ _('Visualize everything with Sharp-V') }}</h3>
		<button class="btn btn-raised" onclick="window.location.href = '{{ base_url('/workbench') }}'">{{ _('Get Started') }}</button>
	</div> <!-- #introduction -->
</div> <!-- #hero -->
{% end %}
{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/particles.min.js') }}"></script>
<script type="text/javascript">
    $(function() {
        highlightNavigationItem('{{ _('Home') }}');
    });
</script>
{% end %}