<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Browser Not Supported') }} | Sharp-V</title>
    <meta name="robots" content="noindex">
    <meta name="author" content="Haozhe Xie">
    <!-- Icon -->
    <link href="{{ static_url('img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <!-- StyleSheets -->
    <style type="text/css">
        body {
            margin: 50px;
            font: 13px arial,sans-serif;
        }
        a {
            color:#0152A6;
            cursor:pointer;
            outline:medium none;
            text-decoration:none;
        }
        a img {
            border: 0;
        }
        h1 {
            font-size: 17px;
        }
        .footer {
            font-size: 13px;
            text-align: center;
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <img src="{{ static_url('img/Sharp-V.jpg') }}" alt="Logo" width="192px" height="48px" />
    <h1>{{ _('Your Browser is no longer supported.') }}</h1>
    <p>{{ _('Sharp-V no longer supports your browser. Please upgrade your browser.') }}</p>
    <table width="650px" cellpadding="5">
        <tbody>
            <tr>
                <td align="center" valign="center" width="120px">
                    <a href="http://www.google.com/chrome/?hl=${language}">
                        <img src="{{ static_url('img/browsers/chrome.jpg') }}" width="120px" height="120px" />
                    </a>
                </td>
                <td align="center" valign="center" width="120px">
                    <a href="http://www.mozilla.com/firefox/">
                        <img src="{{ static_url('img/browsers/firefox.jpg') }}" width="120px" height="120px" />
                    </a>
                </td>
                <td align="center" valign="center" width="120px">
                    <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">
                        <img src="{{ static_url('img/browsers/ie.jpg') }}" width="120px" height="120px" />
                    </a>
                </td>
                <td align="center" valign="center" width="120px">
                    <a href="http://www.opera.com/">
                        <img src="{{ static_url('img/browsers/opera.jpg') }}" width="120px" height="120px" />
                    </a>
                </td>
                <td align="center" valign="center" width="120px">
                    <a href="http://www.apple.com/safari/download/">
                        <img src="{{ static_url('img/browsers/safari.jpg') }}" width="120px" height="120px" />
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top"><a href="http://www.google.com/chrome/">{{ _('Download') }} Google Chrome</a></td>
                <td align="center" valign="top"><a href="http://www.mozilla.com/firefox/">{{ _('Download') }} Firefox</a></td>
                <td align="center" valign="top"><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">{{ _('Download') }} Internet Explorer</a></td>
                <td align="center" valign="top"><a href="http://www.opera.com/">{{ _('Download') }} Opera</a></td>
                <td align="center" valign="top"><a href="http://www.apple.com/safari/download/">{{ _('Download') }} Safari</a></td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        &copy; 2017 Sharp-V
    </div> <!-- .footer -->
</body>
</html>