html, body {
	overflow-x: hidden;
}

body.dragging, body.dragging * {
	cursor: move !important;
}

.form-group {
	margin-top: 15px;
}

.form-group label {
	color: #333;
}

div.hero {
	background-color: #474747;
	color: #fff;
	font-size: 16px;
	height: 195px;
	line-height: 22px;
	padding: 20px 0;
	position: relative;
}

div.hero::before {
	background: url('../../img/hero-workbench.png') no-repeat;
	background-size: 510px 215px;
	content: '.';
	display: block;
	height: 215px;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	top: 0;
	width: 510px;
}

div.hero h2 {
	margin-bottom: 20px;
}

div#main-content {
	position: relative;
}

div#main-content div#sidebar {
	background-color: #f2f2f2;
	min-height: 320px;
}

div#main-content div#sidebar ul#process-flow {
	list-style: none;
	margin: 40px 0;
	padding: 0;
}

div#main-content div#sidebar ul#process-flow li {
	position: relative;
}

div#main-content div#sidebar ul#process-flow li::before {
	content: "[]";
    height: 30px;
    left: -9px;
    position: absolute;
    text-indent: -9999px;
    top: -14px;
    width: 4px;
    background-color: #fff;
}

div#main-content div#sidebar ul#process-flow li:first-child::before {
    background-color: #f2f2f2;
}

div#main-content div#sidebar ul#process-flow li a {
	color: #1f1f1f;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

div#main-content div#sidebar ul#process-flow li a::before {
	content: "o";
    height: 15px;
    top: 15px;
    left: -4px;
    position: absolute;
    text-indent: -9999px;
    width: 15px;
    background-color: rgb(242, 242, 242);
    border-width: 4px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 50%;
    margin: 0px 0px 0px -11px;
}

div#main-content div#sidebar ul#process-flow li.active a {
	color: #40a3e7;
}

div#main-content div#sidebar ul#process-flow li.active a::before {
	border-color: #40a3e7;
}

div#main-content div#sidebar-mask {
	background-color: #f2f2f2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

div#main-content div.section {
	margin-top: 40px;
}

div#main-content div.section h2 {
	font-family: 'Roboto Slab', sans-serif;
}

div#main-content div.section ul.search-suggestions {
	background-color: #fff;
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	list-style: none;
	padding: 0;
	z-index: 1024;
	-webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, .08);
	   -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, .08);
	        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, .08);
}

div#main-content div.section ul.search-suggestions li {
	cursor: pointer;
	margin: 5px 10px;
}

div#main-content div.section span.fileinput-button {
	margin: 1px;
}

div#main-content div.section ol#process-flow-configurator {
	list-style: none;
	padding: 20px 0 0;
}

div#main-content div.section ol#process-flow-configurator li.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

div#main-content div.section ol#process-flow-configurator li.placeholder {
	position: relative;
}

div#main-content div.section ol#process-flow-configurator li.placeholder:before {
	border: 5px solid transparent;
	border-left-color: #03a9f4;
	border-right: none;
	content: "";
	height: 0;
	position: absolute;
	margin-top: -5px;
	left: -5px;
	top: -4px;
	width: 0;
}

div#main-content div.section li.algorithm div.panel-heading {
	height: 55px;
	position: relative;
}

div#main-content div.section li.algorithm div.panel-heading h5 {
	cursor: move;
}

div#main-content div.section li.algorithm ul.list-inline {
	font-size: 15px;
	position: absolute;
	top: 15px;
	right: 10px;
}

div#main-content div.section li.algorithm div.panel-body div.form-group {
	margin: 0;
}

div#main-content div.section li.algorithm div.panel-body label {
	color: #333;
	margin: 10px 0 0;
}

@media only screen and (max-width: 767px) {
	div.hero:before {
		background: transparent;
	}

	div#sidebar,
	div#sidebar-mask {
		display: none;
	}
}