html, body {
	overflow-x: hidden;
}

body.dragging, body.dragging * {
	cursor: move !important;
}

.form-group {
	margin-top: 15px;
}

.form-group label {
	color: #333;
}

button.btn[disabled][disabled] {
	background-color: #03a9f4;
}

div.modal div.modal-dialog {
	margin-top: 10%;
}

div.modal div.modal-body h5 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

div.hero {
	background-color: #474747;
	color: #fff;
	font-size: 16px;
	height: 160px;
	line-height: 22px;
	padding: 20px 0;
	position: relative;
}

div.hero::before {
	background: url('../../img/hero-workbench.png') no-repeat;
	background-size: 510px 215px;
	content: '.';
	display: block;
	height: 215px;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	top: 0;
	width: 510px;
}

div.hero h2 {
	margin-bottom: 20px;
}

div#main-content {
	position: relative;
}

div#main-content div.section {
	margin: 40px 0;
}

div#main-content div.section h2 {
	font-family: 'Roboto Slab', sans-serif;
}

div#main-content div.section ul.search-suggestions {
	background-color: #fff;
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	list-style: none;
	padding: 0;
	z-index: 1024;
	-webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, .08);
	   -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, .08);
	        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, .08);
}

div#main-content div.section ul.search-suggestions li {
	cursor: pointer;
	margin: 5px 10px;
}

div#main-content div#dataset-selection ul.nav-tabs {
	background: #fff;
}

div#main-content div#dataset-selection ul.nav-tabs a {
	color: #333!important;
	font-weight: normal;
	font-size: 16px;
}

div#main-content div#dataset-selection ul.nav-tabs > li.active > a {
	border: 1px solid #ddd!important;
	border-bottom-color: #fff!important;
}

div#main-content div#dataset-selection div.tab-content {
	border: 1px solid #ddd;
	border-top-color: transparent!important;
	padding: 30px 15px;
}

div#main-content div.section span.fileinput-button {
	margin: 1px;
}

div#main-content div.section ul#datasets {
	list-style: none;
	padding: 0;
}

div#main-content div.section ul#datasets li.dataset {
	color: #fff;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

div#main-content div.section ul#datasets li.dataset h5 {
	margin: 0;
}

div#main-content div.section div#task-form-group {
	margin-top: 10px;
}

div#main-content div.section div.togglebutton {
	color: #666;
	padding: 27px 0 0;
	text-align: right;
}

div#main-content div.section ol#process-flow {
	list-style: none;
	padding: 20px 0 0;
}

div#main-content div.section ol#process-flow li.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

div#main-content div.section ol#process-flow li.placeholder {
	position: relative;
}

div#main-content div.section ol#process-flow li.placeholder:before {
	border: 5px solid transparent;
	border-left-color: #03a9f4;
	border-right: none;
	content: "";
	height: 0;
	position: absolute;
	margin-top: -5px;
	left: -5px;
	top: -4px;
	width: 0;
}

div#main-content div.section .algorithm div.panel-heading {
	height: 55px;
	position: relative;
}

div#main-content div.section .algorithm div.panel-heading h5 {
	cursor: move;
}

div#main-content div.section .algorithm ul.list-inline {
	font-size: 15px;
	position: absolute;
	top: 15px;
	right: 10px;
}

div#main-content div.section .algorithm div.panel-body div.form-group {
	margin: 0;
}

div#main-content div.section .algorithm div.panel-body label {
	color: #333;
	margin: 10px 0 0;
}

@media only screen and (max-width: 767px) {
	div.hero:before {
		background: transparent;
	}

	div#main-content div.section div#existing-data-source-form-group {
		margin: 0;
	}
}