{% extends "../template.html" %}
{% block title %}{{ _('Workbench') }}{% end %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.dropdown.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static_url('css/workbench/style.css') }}">
{% end %}
{% block body %}
<div class="hero">
    <div class="container">
        <h2>{{ _('Workbench'); }}</h2>
        <p>{{ _('In this page, you can upload and customize the process flow of your data.') }}</p>
    </div> <!-- .container -->
</div> <!-- .hero -->
<div id="main-content">
    <div class="container">
        <div id="sidebar-mask"></div> <!-- #sidebar-mask -->
        <div id="sidebar" class="col-md-4">
            <ul id="process-flow">
                <li class="active"><a href="javascript:void(0);" data-value="upload">{{ _('Upload Data') }}</a></li>
                <li><a href="javascript:void(0);" data-value="customize">{{ _('Customize Process Flow') }}</a></li>
            </ul>
        </div> <!-- .col-md-4 -->
        <div class="col-md-8">
            <div class="section" workbench-name="upload">
                <h2>{{ _('Upload Data') }}</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="data-source">{{ _('Data Source') }}</label>
                            <select id="data-source" class="form-control dropdown">
                                <option value="existing-data">{{ _('Use existing data') }}</option>
                                <option value="new-data">{{ _('Upload new data') }}</option>
                            </select>
                        </div> <!-- .form-group -->
                    </div> <!-- .col-md-4 -->
                    <div class="col-md-4 existing-data">
                        <div class="form-group">
                            <label for="existing-data-source">&nbsp;</label>
                            <select id="existing-data-source" class="form-control dropdown">
                                <option value="ncbi">{{ _('NCBI Database') }}</option>
                            {% if current_user != 'Guest' %}
                                <option value="previous">{{ _('Previous Uploaded') }}</option>
                            {% end %}
                            </select>
                        </div> <!-- .form-group -->
                    </div> <!-- .col-md-4 -->
                    <div class="col-md-4 existing-data">
                        <div class="form-group label-static">
                            <label for="existing-dataset-name">{{ _('Dataset Name') }}</label>
                            <input id="existing-dataset-name" class="form-control" type="text" placeholder="{{ _('Example:') }} GSE25066">
                            <ul class="search-suggestions"></ul> <!-- .search-suggestions -->
                        </div> <!-- .form-group -->    
                    </div> <!-- .col-md-4 -->
                    <div class="col-md-4 new-data hide">
                        <div class="form-group label-static">
                            <label for="new-dataset-name">{{ _('Dataset Name') }}</label>
                            <input id="new-dataset-name" class="form-control" type="text" placeholder="{{ _('Example:') }} My Dataset #1">
                        </div> <!-- .form-group -->
                    </div> <!-- .col-md-4 -->
                    <div class="col-md-4 new-data hide">
                        <div class="form-group label-static">
                            <label for="file-upload">{{ _('Upload File') }} (<a href="javascript:void(0);">{{ _('File Format') }}</a>)</label>
                            <span class="btn btn-raised btn-primary fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>{{ _('Select files...') }}</span>
                                <input id="file-upload" type="file" name="files[]" multiple>
                            </span>
                        </div> <!-- .form-group -->
                    </div> <!-- .col-md-4 -->
                </div> <!-- .row -->
            </div> <!-- .section -->
            <!-- 显示数据的概况 -->
            <!-- 要求用户确认 分类的Label -->
            <div class="section" workbench-name="customize">
                <h2>
                    {{ _('Customize Process Flow') }} 
                    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-plus-circle"></i></a>
                </h2>
                <ol id="process-flow-configurator"></ol>
            </div> <!-- .section -->
        </div> <!-- .col-md-8 -->
    </div> <!-- .container -->
</div> <!-- #main-content -->
{% end %}
{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.dropdown.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.sortable.min.js') }}"></script>
<script type="text/javascript">
    $('.dropdown').dropdown();
    $('ol#process-flow-configurator').sortable({
        group: 'no-drop',
        handle: '.panel-heading h5'
    });
</script>
<script type="text/javascript">
    $(function() {
        // Highlight navigation item
        highlightNavigationItem('{{ _('Workbench') }}');
        // Adjust sidebar height
        adjustSidebarHeight();
    });

    $(window).resize(function() {
        adjustSidebarHeight();
    });
</script>
<script type="text/javascript">
    function adjustSidebarHeight() {
        var sidebarHeight       = $('#sidebar').height(),
            sidebarLeftOffset   = parseFloat($('.container').css('margin-left')) + parseFloat($('.container').css('padding-left')),
            contentHeight       = $('#main-content').height();

        if ( sidebarHeight < contentHeight ) {
            $('#sidebar').height(contentHeight);
        }
        $('#sidebar-mask').css('width', sidebarLeftOffset);
    }
</script>
<script type="text/javascript">
    $('a', '#process-flow').click(function() {
        $('.active').removeClass('active');
        $(this).parent().addClass('active');

        var sectionName = $(this).attr('data-value');
        $('html, body').animate({
            scrollTop: $('div.section[workbench-name=%s]'.format(sectionName)).offset().top
        }, 500);
    });
</script>
<script type="text/javascript">
    $('#data-source').change(function() {
        var dataSource = $(this).val();

        if ( dataSource == 'new-data' ) {
            $('.existing-data').addClass('hide');
            $('.new-data').removeClass('hide');
        } else {
            $('.new-data').addClass('hide');
            $('.existing-data').removeClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $('#existing-dataset-name').keyup(function() {
        var currentValue        = $(this).val().toLowerCase(),
            dataSource          = $('#existing-data-source').val(),
            suggestionsControl  = $('.search-suggestions', $(this).parent());

        suggestionsControl.empty();
        suggestionsControl.addClass('hide');
        return getSearchSuggestions(currentValue, dataSource, suggestionsControl);
    });
</script>
<script type="text/javascript">
    function getSearchSuggestions(currentValue, dataSource, suggestionsControl) {
        var currentValues       = currentValue.split(/[\s,;\+]+/),
            prefixValues        = currentValues.slice(0, currentValues.length - 1),
            prefixValue         = prefixValues.join(' '),
            lastValue           = currentValues[currentValues.length - 1],
            request = {
                'dataSource': dataSource,
                'currentValue': lastValue
            };
        
        $.ajax({
            type: 'GET',
            url: '/datasets',
            data: request,
            dataType: 'JSON',
            success: function(suggestions){
                if ( suggestions.length == 0 ) {
                    return;                    
                }
                for ( var i = 0; i < suggestions.length; ++ i ) {
                    var suggestionWords = suggestions[i].split(' ');

                    if ( suggestionWords[0] == prefixValues[prefixValues.length - 1] ) {
                        suggestionWords = suggestionWords.slice(1, suggestionWords.length);
                    }
                    suggestionsControl.append('<li>%s <strong>%s</strong></li>'
                        .format(prefixValue, suggestionWords.join(' ')));
                }
                suggestionsControl.removeClass('hide');
            }
        });
    }
</script>
<script type="text/javascript">
    $('.fa-plus-circle').click(function() {
        $('#process-flow-configurator').append(
            '<li class="algorithm panel panel-default">' + 
            '    <div class="panel-heading">' + 
            '        <h5>{{ _('Impute missing values') }}</h5>' + 
            '        <ul class="list-inline">' + 
            '            <li><a href="javascript:void(0);"><i class="fa fa-edit"></i></a></li>' + 
            '            <li><a href="javascript:void(0);"><i class="fa fa-trash"></i></a></li>' + 
            '        </ul>' + 
            '    </div> <!-- .panel-heading -->' + 
            '    <div class="panel-body">' + 
            '        <div class="row">' + 
            '            <div class="col-sm-4"><label>{{ _('Algorithm') }}</label></div> <!-- .col-sm-4 -->' + 
            '            <div class="col-sm-8">' + 
            '                <select class="algorithm-name form-control dropdown">' + 
            '                    <option value="impute-missing-values">{{ _('Impute missing values') }}</option>' + 
            '                    <option value="normalization">{{ _('Normalization') }}</option>' + 
            '                    <option value="feature-selection">{{ _('Feature Selection') }}</option>' + 
            '                    <option value="pca">{{ _('Principle Component Analysis') }}</option>' + 
            '                    <option value="random-projection">{{ _('Random Projection') }}</option>' + 
            '                    <option value="kmeans">{{ _('KMeans') }}</option>' + 
            '                    <option value="knn">{{ _('K Nearest Neightbors') }}</option>' + 
            '                    <option value="svm">{{ _('Support Vector Machine') }}</option>' + 
            '                    <option value="random-forest">{{ _('Random Forest') }}</option>' + 
            '                </select>' + 
            '            </div> <!-- .col-sm-8 -->' + 
            '        </div> <!-- .row -->' + 
            '        <div class="impute-missing-values parameters">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Missing Values') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="missing-values" class="form-control" type="text" placeholder="{{ _('All occurrences of this field will be imputed. (Default: NaN)') }}">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Imputation Strategy') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <select parameter-name="impute-strategy" class="form-control dropdown">' + 
            '                        <option value="mean">{{ _('Use the mean value') }}</option>' + 
            '                        <option value="median">{{ _('Use the median value') }}</option>' + 
            '                        <option value="most_frequent">{{ _('Use the most frequent value') }}</option>' + 
            '                    </select>' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .impute-missing-values.parameters -->' + 
            '        <div class="feature-selection parameters hide">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Select Strategy') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <select parameter-name="select-strategy" class="form-control dropdown">' + 
            '                        <option value="chi2">{{ _('Compute chi-squared stats') }}</option>' + 
            '                        <option value="f_classif">{{ _('Compute the ANOVA F-value') }}</option>' + 
            '                        <option value="mutual_info_classif">{{ _('Estimate mutual information') }}</option>' + 
            '                    </select>' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Number of Components') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="n-components" class="form-control" type="number" min="1" placeholder="{{ _('Number of top features to select.') }}">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .feature-selection.parameters -->' + 
            '        <div class="pca parameters hide">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Number of Components') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="n-components" class="form-control" type="number" min="1" placeholder="{{ _('Dimensionality of the target projection space.') }}">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .pca.parameters -->' + 
            '        <div class="random-projection parameters hide">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Number of Components') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="n-components" class="form-control" type="number" min="1" placeholder="{{ _('Dimensionality of the target projection space.') }}">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .random-projection.parameters -->' + 
            '        <div class="kmeans parameters hide">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Number of clusters') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="n-clusters" class="form-control" type="number" min="1">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .kmeans.parameters -->' + 
            '        <div class="knn parameters hide">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Number of neighbors') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="n-neighbors" class="form-control" type="number" min="1">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Distance metric') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <select parameter-name="distance-metric" class="form-control dropdown">' + 
            '                        <option value="0">{{ _('Minkowski distance') }}</option>' + 
            '                        <option value="1">{{ _('Manhattan distance') }}</option>' + 
            '                        <option value="2">{{ _('Euclidean distance') }}</option>' + 
            '                    </select>' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .knn.parameters -->' + 
            '        <div class="svm parameters hide">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Kernel function') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <select parameter-name="kernel" class="kernel form-control dropdown">' + 
            '                        <option value="rbf">{{ _('Radius base function (RBF)') }}</option>' + 
            '                        <option value="linear">{{ _('Linear function') }}</option>' + 
            '                        <option value="poly">{{ _('Poly function') }}</option>' + 
            '                        <option value="sigmoid">{{ _('Sigmoid function') }}</option>' + 
            '                        <option value="precomputed">{{ _('Precomputed function') }}</option>' + 
            '                    </select>' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Penalty parameter') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="penalty-parameter" class="form-control" type="number" step="any">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '            <div class="gamma row">' + 
            '                <div class="col-sm-4"><label>{{ _('Gamma') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="gamma" class="form-control" type="number" step="any" placeholder="{{ _('Kernel coefficient. Leave empty to determine automatically.') }}">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '            <div class="degree row hide">' + 
            '                <div class="col-sm-4"><label>{{ _('Degree') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="degree" class="form-control" type="number" step="any" placeholder="{{ _('Degree of the polynomial kernel function.') }}">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .svm.parameters -->' + 
            '        <div class="random-forest parameters hide">' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Number of estimators') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <input parameter-name="n-estimators" class="form-control" type="number" step="any" placeholder="The number of trees in the forest.">' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '            <div class="row">' + 
            '                <div class="col-sm-4"><label>{{ _('Criterion') }}</label></div> <!-- .col-sm-4 -->' + 
            '                <div class="col-sm-8">' + 
            '                    <select parameter-name="criterion" class="form-control dropdown">' + 
            '                        <option value="geni">{{ _('Gini impurity') }}</option>' + 
            '                        <option value="entropy">{{ _('Information gain') }}</option>' + 
            '                    </select>' + 
            '                </div> <!-- .col-sm-8 -->' + 
            '            </div> <!-- .row -->' + 
            '        </div> <!-- .random-forest.parameters -->' + 
            '    </div> <!-- .panel-body -->' + 
            '</li>'
        );
        
        $('.dropdown').dropdown();
        adjustSidebarHeight();
    });
</script>
<script type="text/javascript">
    $('#process-flow-configurator').on('change', 'select.algorithm-name', function() {
        var alrotithmBox         = $(this).parent().parent().parent().parent(),
            algorithmPanelHeader = $('.panel-heading h5', alrotithmBox),
            algorithmName        = $('option:selected', this).text(),
            algorithmValue       = $(this).val();

        $('.parameters', alrotithmBox).addClass('hide');
        $('.%s'.format(algorithmValue), alrotithmBox).removeClass('hide');
        algorithmPanelHeader.html(algorithmName);
        
        adjustSidebarHeight();
    });
</script>
<script type="text/javascript">
    $('#process-flow-configurator').on('change', 'select.kernel', function() {
        var kernel              = $(this).val(),
            parametersContainer = $(this).parent().parent().parent();

        if ( kernel == 'poly' ) {
            $('.degree').removeClass('hide');
        } else {
            $('.degree').addClass('hide');
        }
        if ( kernel == 'rbf' || kernel == 'poly' || kernel == 'sigmoid' ) {
            $('.gamma').removeClass('hide');
        } else {
            $('.gamma').addClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $('#process-flow-configurator').on('click', '.fa-edit', function() {
        var algorithmPanelBody =  $('.panel-body', $(this).parent().parent().parent().parent().parent());

        if ( algorithmPanelBody.is(':visible') ) {
            algorithmPanelBody.addClass('hide');
        } else {
            algorithmPanelBody.removeClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $('#process-flow-configurator').on('click', '.fa-trash', function() {
        var algorithmPanel =  $(this).parent().parent().parent().parent().parent();
        
        if ( confirm('{{ _('Are you sure to continue?') }}') ) {
            algorithmPanel.remove();
        }
    });
</script>
<script type="text/javascript" src="{{ static_url('js/d3.min.js') }}"></script>
<script type="text/javascript">
    $(function() {
        var numberOfClusters = 4;
            clusterColors    = ['red', 'green', 'blue', 'orange'],
            clusters         = getClusters(numberOfClusters, 50),
            maxMinPoint      = getPointsStatistics(clusters),
            svgOptions       = {
                height: 500,
                width: 500,
                margin: {
                    'top': 20,
                    'right': 20,
                    'bottom': 30,
                    'left': 30,
                }
            },
            svgComponents    = setUpScatterSvg(clusters, svgOptions, maxMinPoint);

        for ( var i = 0; i < numberOfClusters; ++ i ) {
            addPointsToSvg(svgComponents, clusters[i], clusterColors[i]);
        }
        adjustSidebarHeight();
    });
</script>
<script type="text/javascript">
    function getClusters(numberOfClusters, numberOfPoints) {
        var clusters = [];
        for ( var i = 0; i < numberOfClusters; ++ i ) {
            var points = [];

            for ( var j = 0; j < numberOfPoints; ++ j ) {
                points.push({
                    'x': Math.random() * 200 - 100,
                    'y': Math.random() * 200 - 100
                });
            }
            clusters.push(points);
        }
        return clusters;
    }
</script>
<script type="text/javascript">
    function getPointsStatistics(clusters) {
        var xMax = Number.MIN_VALUE, xMin = Number.MAX_VALUE,
            yMax = Number.MIN_VALUE, yMin = Number.MAX_VALUE;

        clusters.forEach(function(points) {
            points.forEach(function(point) {
                if ( point.x > xMax ) {
                    xMax = point.x;
                } else if ( point.x < xMin ) {
                    xMin = point.x;
                }
                if ( point.y > yMax ) {
                    yMax = point.y;
                } else if ( point.y < yMin ) {
                    yMin = point.y;
                }
            });
        });
        return {
            'xMax': xMax,
            'xMin': xMin,
            'yMax': yMax,
            'yMin': yMin
        }
    }
</script>
<script type="text/javascript">
    function setUpScatterSvg(points, svgOptions, maxMinPoint) {
        var margin      = svgOptions.margin,
            width       = svgOptions.width - margin.left - margin.right,
            height      = svgOptions.height - margin.top - margin.bottom,
            xMax        = maxMinPoint.xMax * 1.05,
            xMin        = maxMinPoint.xMin * 1.05,
            yMax        = maxMinPoint.yMax * 1.05,
            yMin        = maxMinPoint.yMin * 1.05;

        // Setup X axis and Y axis
        var x       = d3.scaleLinear().range([0, width]).nice(),
            y       = d3.scaleLinear().range([height, 0]).nice(),
            xAxis   = d3.axisBottom(x).ticks(12),
            yAxis   = d3.axisLeft(y).ticks(12 * height / width);

        x.domain([xMin, xMax]).nice();
        y.domain([yMin, yMax]).nice();

        // Create SVG object
        var svg = d3.select('#scatter-diagram').append('svg')
                    .attr('width', width + margin.left + margin.right)
                    .attr('height', height + margin.top + margin.bottom)
                    .append('g')
                    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

        // Create sensing area to detect zoom and drag operations
        var view = svg.append('rect')
                      .attr('class', 'view').attr('x', 0).attr('y', 0)
                      .attr('width', width - 1).attr('height', height - 1)
                      .style('fill', 'transparent');
        
        // Plot X axis and Y axis in SVG
        svg.append('g').attr('id', 'axis-x').attr('class', 'x axis')
           .attr('transform', 'translate(0,' + height + ')').call(xAxis);
        svg.append('g').attr('id', 'axis-y').attr('class', 'y axis').call(yAxis);

        // Handling zoom operations
        var zoom = d3.zoom()
                     .scaleExtent([1, 96])
                     .translateExtent([[-100, -100], [width + 90, height + 100]])
                     .on('zoom', function() {
                          view.attr('transform', d3.event.transform);
                          svg.select('#axis-x').call(xAxis.scale(d3.event.transform.rescaleX(x)));
                          svg.select('#axis-y').call(yAxis.scale(d3.event.transform.rescaleY(y)));
                          svg.selectAll('circle')
                                  .attr('transform', 'translate(%s, %s) scale(%s)'
                                    .format(d3.event.transform.x, d3.event.transform.y, d3.event.transform.k));
                     });
        svg.call(zoom);

        return {
            'svg': svg,
            'x': x,
            'y': y
        };
    }
</script>
<script type="text/javascript">
    function addPointsToSvg(svgComponents, points, pointColor) {
        // Plot points in SVG
        svgComponents.svg.append('g')
           .attr('id', 'scatter-plot')
           .selectAll('.dot').data(points)
           .enter().append('circle')
           .attr('class', 'dot').attr('r', 4)
           .attr('cx', function (p) { return svgComponents.x(p.x); })
           .attr('cy', function (p) { return svgComponents.y(p.y); })
           .style('fill', pointColor);

        // Add event listeners to points
        svgComponents.svg.selectAll('circle').on('click', function(data, index) {
            console.log(data);
        });
    }
</script>
{% end %}
