{% extends "../template.html" %}
{% block title %}{{ _('Workbench') }}{% end %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.dropdown.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ static_url('css/workbench/style.css') }}">
{% end %}
{% block body %}
<div class="hero">
    <div class="container">
        <div class="col-md-12">
            <h2>{{ _('Workbench'); }}</h2>
            <p>{{ _('Get your SPF analysis workflow started.') }}</p>
        </div> <!-- .col-xs-12 -->
    </div> <!-- .container -->
</div> <!-- .hero -->
<div id="main-content">
    <div class="container">
        <div class="col-sm-12 col-md-10">
            <div class="section">
                <h2>{{ _('Step') }} 1. {{ _('Select Dataset') }}</h2>
                <div id="dataset-selection">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#existing-data" id="existing-data-tab" role="tab" data-toggle="tab" aria-controls="existing-data" aria-expanded="true">Use existing data</a>
                        </li>
                        <li role="presentation">
                            <a href="#upload-data" role="tab" id="upload-data-tab" data-toggle="tab" aria-controls="upload-data">Upload new data</a>
                        </li>
                    </ul> <!-- .nav-tabs -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="existing-data" aria-labelledby="existing-data-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-static">
                                        <label for="existing-project-name">{{ _('Project name') }}</label>
                                        <input id="existing-project-name" class="form-control" type="text" placeholder="{{ _('Example:') }} My-Project-0">
                                        <ul class="search-suggestions hide"></ul> <!-- .search-suggestions -->
                                    </div> <!-- .form-group -->
                                </div> <!-- .col-md-4 -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="existing-dataset-file-name">{{ _('Dataset File Name') }}</label>
                                        <select id="existing-dataset-file-name" class="form-control dropdown"></select>
                                    </div> <!-- .form-group -->
                                </div> <!-- .col-md-4 -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="existing-metaset-file-name">{{ _('Metaset File Name') }} <i>({{ _('Optional') }})</i></label>
                                        <select id="existing-metaset-file-name" class="form-control dropdown"></select>
                                    </div> <!-- .form-group -->
                                </div> <!-- .col-md-4 -->
                            </div> <!-- .row -->
                        </div> <!-- .tab-pane -->
                        <div role="tabpanel" class="tab-pane fade" id="upload-data" aria-labelledby="upload-data-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-static">
                                        <label for="new-project-name">{{ _('Project name') }}</label>
                                        <input id="new-project-name" class="form-control" type="text" placeholder="{{ _('Example:') }} My-Project-0">
                                    </div> <!-- .form-group -->
                                </div> <!-- .col-md-4 -->
                                <div class="col-md-4">
                                    <div class="form-group label-static">
                                        <label for="dataset-file">{{ _('Dataset file') }} (<a href="javascript:void(0);" data-toggle="modal" data-target="#file-format-modal">{{ _('File Format') }}</a>)</label>
                                        <span class="btn btn-raised btn-primary fileinput-button">
                                            <i class="fa fa-plus"></i>
                                            <span>{{ _('Select file...') }}</span>
                                            <input id="new-dataset-file-name" class="file-upload" type="file" name="file">
                                        </span>
                                    </div> <!-- .form-group -->
                                </div> <!-- .col-md-4 -->
                                <div class="col-md-4">
                                    <div class="form-group label-static">
                                        <label for="metaset-file">{{ _('Metaset file') }} (<a href="javascript:void(0);" data-toggle="modal" data-target="#file-format-modal">{{ _('File Format') }}</a>)</label>
                                        <span class="btn btn-raised btn-primary fileinput-button">
                                            <i class="fa fa-plus"></i>
                                            <span>{{ _('Select file...') }}</span>
                                            <input id="new-metaset-file-name" class="file-upload" type="file" name="file">
                                        </span>
                                    </div> <!-- .form-group -->
                                </div> <!-- .col-md-4 -->
                            </div> <!-- .row -->
                            <div class="progress progress-striped active upload-dataset">
                                <div class="progress-bar"></div> <!-- .progress-bar" -->
                            </div> <!-- .progress -->
                            <div class="row">
                                <div class="col-md-12">
                                    <ul id="datasets"></ul>
                                </div> <!-- .col-md-12 -->
                            </div> <!-- .row -->
                        </div> <!-- .tabpanel -->
                    </div> <!-- .tab-content -->
                </div> <!-- #dataset-selection -->
            </div> <!-- .section -->
            <div id="process-flow" class="section">
                <h2>{{ _('Step') }} 2. {{ _('Processing Data') }} </h2>
                <div class="algorithm panel panel-default">
                    <div class="panel-heading">
                        <h5>{{ _('Step') }} 2.1. {{ _('Normalization') }}</h5>
                        <ul class="list-inline">
                        </ul>
                    </div> <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-static">
                                    <select class="algorithm-name form-control dropdown">
                                        <option value="zscore-normalization">{{ _('Z-Score normalization') }}</option>
                                        <option value="zero-centered-normalization">{{ _('Zero-Centered normalization') }}</option>
                                        <option value="median-centered-normalization">{{ _('Median-Centered normalization') }}</option>
                                        <option value="min-max-normalization">{{ _('Min-Max normalization') }}</option>
                                        <option value="max-abs-normalization">{{ _('Max-Abs normalization') }}</option>
                                    </select>
                                </div> <!-- .form-group -->
                            </div> <!-- .col-sm-6 -->
                            <div class="col-sm-6">
                            </div> <!-- .col-sm-6 -->
                        </div> <!-- .row -->
                    </div> <!-- .panel-body -->
                </div> <!-- .algorithm -->
                <div class="algorithm panel panel-default">
                    <div class="panel-heading">
                        <h5>{{ _('Step') }} 2.2. {{ _('Dimensionality reduction') }}</h5>
                        <ul class="list-inline">
                        </ul>
                    </div> <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-static">
                                    <select class="algorithm-name form-control dropdown">
                                        <option value="pca">{{ _('Principle Component Analysis (PCA)') }}</option>
                                        <option value="random-projection">{{ _('Random Projection') }}</option>
                                    </select>
                                </div> <!-- .form-group -->
                            </div> <!-- .col-sm-6 -->
                            <div class="col-sm-3">
                                <div class="pca parameters hide">
                                    <label>{{ _('Number of components: ') }}</label>
                                </div> <!-- .pca.parameters -->
                                <div class="random-projection parameters hide">
                                    <label>{{ _('Number of components: ') }}</label>
                                </div> <!-- .random-projection.parameters -->
                            </div> <!-- .col-sm-3 -->
                            <div class="col-sm-3">
                                <div class="pca parameters hide">
                                    <div class="form-group label-static">
                                        <input parameter-name="n-components" class="form-control" type="number" min="1" placeholder="{{ _('Default:') }} 100">
                                    </div> <!-- .form-group -->
                                </div> <!-- .pca.parameters -->
                                <div class="random-projection parameters hide">
                                    <div class="form-group label-static">
                                        <input parameter-name="n-components" class="form-control" type="number" min="1" placeholder="{{ _('Default:') }} 100">
                                    </div> <!-- .form-group -->
                                </div> <!-- .random-projection.parameters -->
                            </div> <!-- .col-sm-3 -->
                        </div> <!-- .row -->
                    </div> <!-- .panel-body -->
                </div> <!-- .algorithm -->
                <div class="algorithm panel panel-default">
                    <div class="panel-heading">
                        <h5>{{ _('Step') }} 2.3. {{ _('Clustering') }}</h5>
                        <ul class="list-inline">
                        </ul>
                    </div> <!-- .panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-static">
                                    <select class="algorithm-name form-control dropdown">
                                        <option value="kmeans">{{ _('KMeans') }}</option>
                                        <option value="hierarchical-cluster">{{ _('Hierarchical Clustering') }}</option>
                                    </select>
                                </div> <!-- .form-group -->
                            </div> <!-- .col-sm-6 -->
                            <div class="col-sm-3">
                                <div class="kmeans parameters hide">
                                    <label>{{ _('Number of clusters: ') }}</label>
                                </div> <!-- .kmeans.parameters -->
                                <div class="hierarchical-cluster parameters hide">
                                    <label>{{ _('Linkage metric: ') }}</label>
                                </div> <!-- .hierarchical-cluster.parameters -->
                            </div> <!-- .col-sm-3 -->
                            <div class="col-sm-3">
                                <div class="kmeans parameters hide">
                                    <div class="form-group label-static">
                                        <input parameter-name="n-clusters" class="form-control" type="number" min="1" max="10" placeholder="{{ _('Default:') }} 5">
                                    </div> <!-- .form-group -->
                                </div> <!-- .kmeans.parameters -->
                                <div class="hierarchical-cluster parameters hide">
                                    <select parameter-name="method" class="form-control dropdown">
                                        <option value="average">{{ _('Average distance') }}</option>
                                        <option value="centroid">{{ _('Centroid distance') }}</option>
                                        <option value="single">{{ _('Minimum distance') }}</option>
                                        <option value="complete">{{ _('Maximum distance') }}</option>
                                        <option value="median">{{ _('Median distance') }}</option>
                                        <option value="weighted">{{ _('Weighted distance') }}</option>
                                        <option value="ward">{{ _('Ward variance') }}</option>
                                    </select>
                                </div> <!-- .hierarchical-cluster.parameters -->
                            </div> <!-- .col-sm-3 -->
                        </div> <!-- .row -->
                    </div> <!-- .panel-body -->
                </div> <!-- .algorithm -->
                <div class="row">
                    <div class="col-md-12 text-right">
                        {% module xsrf_form_html() %}
                        <button id="btn-process" class="btn btn-raised btn-primary">{{ _('Process') }}</button>
                    </div> <!-- .col-md-12 -->
                </div> <!-- .row -->
            </div> <!-- .section -->
            <div class="section">
                <h2>{{ _('Step') }} 3. {{ _('Visualization') }}</h2>
                <div class="row">
                    <div class="col-md-8">
                        <div id="d3-diagram">
                            <p id="no-diagram">{{ _('The diagram will be shown after processing.') }}</p>
                            <div class="tooltip hide"></div>
                        </div> <!-- #d3-diagram -->
                    </div> <!-- .col-md-8 -->
                    <div id="visualization-sidebar" class="col-md-4 hide">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{ _('Reset') }}</h5>
                            </div> <!-- .panel-heading -->
                            <div class="panel-body">
                                <button id="reset-button" class="btn btn-raised btn-danger">{{ _('Reset') }}</button>
                            </div> <!-- .panel-body -->
                        </div> <!-- .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{ _('Search') }}</h5>
                            </div> <!-- .panel-heading -->
                            <div class="panel-body">
                                <div class="form-group label-static">
                                    <label for="sample-search-box" class="control-label">Sample Name</label>
                                    <input id="sample-search-box" class="form-control" type="text" placeholder="{{ _('Example: Sample 0') }}">
                                    <ul class="search-suggestions hide"></ul> <!-- .search-suggestions -->
                                </div> <!-- .form-group -->
                                <button id="sample-search-button" class="btn btn-raised btn-primary">{{ _('Search') }}</button>
                            </div> <!-- .panel-body -->
                        </div> <!-- .panel -->
                        <div id="scatter-plot-settings" class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{ _('Settings') }}</h5>
                            </div> <!-- .panel-heading -->
                            <div class="panel-body">
                                <div class="form-group label-static">
                                    <label for="number-of-neighbors" class="control-label">Number of neighbors to display</label>
                                    <input id="number-of-neighbors" class="form-control" type="number" min="1" max="10" value="3">
                                </div> <!-- .form-group -->
                            </div> <!-- .panel-body -->
                        </div> <!-- .panel -->
                    </div> <!-- .col-md-4 -->
                </div> <!-- .row -->
                <div id="meta-of-neighbors" class="row hide">
                    <div class="col-md-8">
                        <h4>{{ _('Metaset of Nearest Neighbors') }}</h4>
                        <table class="table table-striped">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div> <!-- .col-md-8 -->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{ _('Columns to Display') }}</h5>
                            </div> <!-- .panel-heading -->
                            <div class="panel-body">
                                <ul id="metaset-columns"></ul>
                            </div> <!-- .panel-body -->
                        </div> <!-- .panel -->
                    </div> <!-- .col-md-4 -->
                </div> <!-- .row -->
            </div> <!-- .section -->
        </div> <!-- .col-md-9 -->
    </div> <!-- .container -->
</div> <!-- #main-content -->
<div id="file-format-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">File Format</h4>
            </div> <!-- .modal-header -->
            <div class="modal-body">
                <h5>Dataset File Format</h5>
                <p>The uploaded series-matrixing dataset file is required as a CSV formated text file that include a tab-delimited value-matrix table generated from the 'VALUE' column each sample, headed by sample. These files are suitable for loading into spreadsheet applications such as Excel.</p>
                <p><button class="btn btn-raised btn-primary" onclick="window.location.href = '{{ base_url('/datasets/download?projectName=Demo&fileName=Demo-Dataset.csv') }}'">Download Demo Dataset</button></p>
                <h5>Metaset File Format</h5>
                <p>The uploaded optional metaset is also required in CSV format and contains comprehensive clinical information. The same line of matrixing metaset and dataset corresponds to the same sample.</p>
                <p><button class="btn btn-raised btn-primary" onclick="window.location.href = '{{ base_url('/datasets/download?projectName=Demo&fileName=Demo-Metaset.csv') }}'">Download Demo Metaset</button></p>
            </div> <!-- .modal-body -->
        </div> <!-- .modal-content -->
    </div> <!-- .modal-dialog -->
</div> <!-- .modal -->
{% end %}
{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/jquery.dropdown.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.fileupload.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/d3.min.js') }}"></script>
<script type="text/javascript">
    highlightNavigationItem('{{ _('Workbench') }}');
    $('.dropdown').dropdown();
    $('.file-upload').fileupload({
        url: '{{ base_url('/datasets/upload') }}',
        dataType: 'JSON',
        add: function(e, data) {
            $('.progress .progress-bar').css('width', '0');
            
            var projectName     = $('#new-project-name').val(),
                acceptFileTypes = /.*\.(csv)$/i,
                fileName        = data.originalFiles[0]['name'];
            if ( !projectName ) {
                alert('{{ _('Please name your project.') }}');
                return;
            }
            if ( !acceptFileTypes.test(fileName) ) {
                alert('{{ _('You are allow to upload comma seperated CSV files only.') }}');
                return;
            } else {
                $(this).attr('file-name', fileName);
            }
            data.submit();
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress .progress-bar').css(
                'width',
                progress + '%'
            );
        },
        done: function(e, data) {
            var response       = data['jqXHR']['responseJSON'],
                isSuccessful   = response['isSuccessful'],
                message        = getFileUploadMessage(response),
                alertClassName = isSuccessful ? 'success' : 'danger',
                fileName       = data['files'][0]['name'],
                projectName    = $('#project-name').val();

            if ( isSuccessful ) {
                $('ul#datasets').append(
                    '<li class="dataset alert alert-%s">'.format(alertClassName) + 
                    '    <h5>%s</h5>'.format(fileName) + 
                    '    <p>%s</p>'.format(message) + 
                    '</li>'
                );
            } else {
                // TODO: Why?
                alert('Failed to upload the file [FileName=%s].'.format(fileName));
            }
        }
    });
    $('.file-upload').bind('fileuploadsubmit', function (e, data) {
        var projectName = $('#new-project-name').val();
        data.formData = {
            'projectName': projectName,
            '_xsrf': getCookie("_xsrf")
        };
    });
</script>
<script type="text/javascript">
    function getFileUploadMessage(response) {
        var message = '';

        if ( response['isSuccessful'] ) {
            message = '{{ _('Number of lines: ') }} %s, {{ _('Number of columns: ') }} %s'
                        .format(response['fileInfo']['lines'], response['fileInfo']['columns']);
        } else {
            if ( !response['isDatasetNameLegal'] ) {
                // TODO
                message += '{{ _('The length of dataset name cannot exceed 64 characters.') }}';
            } else if ( response['isDatasetNameExists'] ) {
                message += '{{ _('The dataset name has already taken by another dataset.') }}';
            }
            if ( !response['isFileNameLegal'] ) {
                message += '{{ _('The length of file name cannot exceed 64 characters.') }}';
            } else if ( response['isFileNameExists'] ) {
                message += '{{ _('There is another file having the same file name.') }}';
            }
        }
        return message;
    }
</script>
<script type="text/javascript">
    $('#chkbox-upload-dataset').change(function() {
        var isChecked = $(this).is(':checked');

        if ( isChecked ) {
            $('.upload-dataset').removeClass('hide');
        } else {
            $('.upload-dataset').addClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $(document).mouseup(function(e) {
        var container = $('.search-suggestions, #existing-project-name, #sample-search-box');
        // if the target of the click isn't the container nor a descendant of the container
        if ( !container.is(e.target) && container.has(e.target).length === 0 ) {
            $('.search-suggestions').addClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $('#existing-project-name').focus(function() {
        var currentValue        = $(this).val().toLowerCase(),
            suggestionsControl  = $('.search-suggestions', $(this).parent());

        suggestionsControl.addClass('hide');
        return getSearchSuggestions(currentValue, suggestionsControl);
    });

    $('#existing-project-name').keyup(function() {
        var currentValue        = $(this).val().toLowerCase(),
            suggestionsControl  = $('.search-suggestions', $(this).parent());

        suggestionsControl.addClass('hide');
        return getSearchSuggestions(currentValue, suggestionsControl);
    });
</script>
<script type="text/javascript">
    function getSearchSuggestions(currentValue, suggestionsControl) {
        var currentValues = currentValue.split(/[\s,;\+]+/);
            request = {
                'keyword': JSON.stringify(currentValues)
            };

        $.ajax({
            type: 'GET',
            url: '{{ base_url('/projects/suggestions') }}',
            data: request,
            dataType: 'JSON',
            success: function(suggestions) {
                suggestionsControl.empty();
                if ( suggestions.length == 0 ) {
                    return;                    
                }
                for ( var i = 0; i < suggestions.length; ++ i ) {
                    var projectName     = suggestions[i]['projectName'],
                        datasetFileName = suggestions[i]['projectFiles']['datasetName'],
                        metasetFileName = suggestions[i]['projectFiles']['metasetName'],
                        candidateFiles  = suggestions[i]['projectFiles']['candidateFiles'];

                    suggestionsControl.append('<li candidate-files=\'%s\' dataset-file="%s" metaset-file="%s">%s</li>'
                        .format(JSON.stringify(candidateFiles), datasetFileName, metasetFileName, projectName));
                }
                suggestionsControl.removeClass('hide');
            }
        });
    }
</script>
<script type="text/javascript">
    $('.search-suggestions', '#dataset-selection').on('click', 'li', function() {
        var projectName     = $(this).html(),
            datasetFileName = $(this).attr('dataset-file'),
            metasetFileName = $(this).attr('metaset-file'),
            candidateFiles  = JSON.parse($(this).attr('candidate-files'));

        // Add files of the projects
        $('#existing-dataset-file-name, #existing-metaset-file-name').find('option').remove();
        $('#existing-metaset-file-name').append('<option value=" "></option>');
        for ( var i = 0; i < candidateFiles.length; ++ i ) {
            $('#existing-dataset-file-name, #existing-metaset-file-name')
                .append('<option value="%s">%s</option>'
                    .format(candidateFiles[i], candidateFiles[i]));
        }
        // Set up dataset file name and metaset file name
        $('#existing-dataset-file-name').val(datasetFileName).trigger('change');
        $('#existing-metaset-file-name').val(metasetFileName).trigger('change');
        $('#existing-dataset-file-name, #existing-metaset-file-name').dropdown();
        $('#existing-project-name').val(projectName);
        $('.search-suggestions').addClass('hide');
    });
</script>
<script type="text/javascript">
    $('#sample-search-box').keyup(function() {
        var currentValue        = $(this).val().toLowerCase(),
            suggestionsControl  = $('.search-suggestions', $(this).parent());

        suggestionsControl.addClass('hide');
        $('.search-suggestions').empty();

        for ( var i = 0; i < window.dataset['ids']['training'].length; ++ i ) {
            var sampleName = window.dataset['ids']['training'][i];

            if ( sampleName.toLowerCase().indexOf(currentValue) != -1 ) {
                suggestionsControl.append('<li>%s</li>'.format(sampleName));
            }
        }
        suggestionsControl.removeClass('hide');
    });
</script>
<script type="text/javascript">
    $('.search-suggestions', '#visualization-sidebar').on('click', 'li', function() {
        var sampleName     = $(this).html();
        $('#sample-search-box').val(sampleName);
        $('.search-suggestions').addClass('hide');
    });
</script>
<script type="text/javascript">
    $(function() {
        $('.algorithm .algorithm-name').change();
        $('.dropdown').dropdown();
    });
</script>
<script type="text/javascript">
    $('#process-flow').on('change', 'select.algorithm-name', function() {
        var alrotithmBox         = $(this).parent().parent().parent().parent(),
            algorithmPanelHeader = $('.panel-heading h5', alrotithmBox),
            algorithmName        = $('option:selected', this).text(),
            algorithmValue       = $(this).val();

        $('.parameters', alrotithmBox).addClass('hide');
        $('.%s'.format(algorithmValue), alrotithmBox).removeClass('hide');
        algorithmPanelHeader.html(algorithmName);
    });
</script>
<script type="text/javascript">
    $('#process-flow').on('change', 'select.kernel', function() {
        var kernel              = $(this).val(),
            parametersContainer = $(this).parent().parent().parent();

        if ( kernel == 'poly' ) {
            $('.degree').removeClass('hide');
        } else {
            $('.degree').addClass('hide');
        }
        if ( kernel == 'rbf' || kernel == 'poly' || kernel == 'sigmoid' ) {
            $('.gamma').removeClass('hide');
        } else {
            $('.gamma').addClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $('#process-flow').on('click', '.fa-edit', function() {
        var algorithmPanelBody =  $('.panel-body', $(this).parent().parent().parent().parent().parent());

        if ( algorithmPanelBody.is(':visible') ) {
            algorithmPanelBody.addClass('hide');
        } else {
            algorithmPanelBody.removeClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $('#process-flow').on('click', '.fa-trash', function() {
        var algorithmPanel =  $(this).parent().parent().parent().parent().parent();
        
        if ( confirm('{{ _('Are you sure to continue?') }}') ) {
            algorithmPanel.remove();
        }
    });
</script>
<script type="text/javascript">
    $('#btn-process').click(function() {
        var projectName     = getProjectName(),
            datasetFileName = getDatasetFileName(),
            metasetFileName = getMetasetFileName(),
            processFlow     = JSON.stringify(getProcessFlow()),
            xsrfToken       = getCookie("_xsrf");

        $('#d3-diagram > svg').remove();
        $('#no-diagram').removeClass('hide');
        $('#visualization-sidebar, #meta-of-neighbors').addClass('hide');
        $('#btn-process').attr('disabled', 'disabled');
        $('#btn-process').html('{{ _('Please wait...') }}');
        return processDataset(projectName, datasetFileName, metasetFileName, processFlow, xsrfToken);
    });
</script>
<script type="text/javascript">
    function getProjectName() {
        return isUsingExistingData() ? $('#existing-project-name').val() : $('#new-project-name').val();
    }

    function getDatasetFileName() {
        return isUsingExistingData() ? $('#existing-dataset-file-name').val() : $('#new-dataset-file-name').attr('file-name');
    }

    function getMetasetFileName() {
        return isUsingExistingData() ? $('#existing-metaset-file-name').val() : $('#new-metaset-file-name').attr('file-name');
    }

    function isUsingExistingData() {
        return $('a[aria-expanded=true]').attr('aria-controls') == 'existing-data';
    }
 </script>
<script type="text/javascript">
    function getProcessFlow() {
        var processFlow = [];

        $('.algorithm', '#process-flow').each(function() {
            var algorithmName = $('select.algorithm-name', this).val(),
                parameterBox  = $('div.parameters.%s'.format(algorithmName), this),
                parameters    = {};

            $('input, select', parameterBox).each(function() {
                var parameterKey    = $(this).attr('parameter-name'),
                    parameterValue  = $(this).val();

                if ( typeof(parameterKey) != 'undefined' ) {
                    parameters[parameterKey] = parameterValue;
                }
            });
            processFlow.push({
                'algorithmName': algorithmName,
                'parameters': parameters
            });
        });
        return processFlow;
    }
</script>
<script type="text/javascript">
    function processDataset(projectName, datasetFileName, metasetFileName, processFlow, xsrfToken) {
        var postData = {
            'projectName': projectName,
            'datasetFileName': datasetFileName,
            'metasetFileName': metasetFileName,
            'processFlow': processFlow,
            '_xsrf': xsrfToken
        };

        $.ajax({
            type: 'POST',
            url: '{{ base_url('/datasets/process') }}',
            data: postData,
            dataType: 'JSON',
            success: function(result) {
                if ( result['isSuccessful'] ) {
                    window.dataset       = result['dataset'];
                    window.metaset       = result['metaset'];
                    window.isScatterPlot = !isHierarchicalClustering(JSON.parse(processFlow));

                    draw(window.dataset);
                    list(window.metaset);
                    $('#sample-search-box').val('');
                    $('#visualization-sidebar').removeClass('hide');
                    $('#no-diagram').addClass('hide');
                    if ( !jQuery.isEmptyObject(result['metaset']) ) {
                        $('#meta-of-neighbors').removeClass('hide');
                    }
                } else {
                    // TODO: Why?
                    alert('Error occurred while processing data.');
                }
                $('#btn-process').html('{{ _('Process') }}');
                $('#btn-process').removeAttr('disabled');
            }
        });
    }
</script>
<script type="text/javascript">
    function draw(dataset) {
        var containerWidth          = $('#d3-diagram').width(),
            svgOptions              = {
                height: containerWidth,
                width: containerWidth,
                margin: {
                    'top': 25,
                    'right': 25,
                    'bottom': 50,
                    'left': 50,
                }
            };

        if ( window.isScatterPlot ) {
            $('#scatter-plot-settings').removeClass('hide');
            drawScatterPlot(dataset, svgOptions);
        } else {
            $('#scatter-plot-settings').addClass('hide');
            drawHierarchyTree(dataset, svgOptions);
        }
    }
</script>
<script type="text/javascript">
    function isHierarchicalClustering(processFlow) {
        for ( var i = 0; i < processFlow.length; ++ i ) {
            if ( processFlow[i]['algorithmName'] == 'hierarchical-cluster' ) {
                return true;
            }
        }
        return false;
    }
</script>
<script type="text/javascript">
    function drawScatterPlot(dataset, svgOptions) {
        var CLUSTER_COLORS          = ['#f4394c', '#f6aa4a', '#40a3e7', '#8fbf59', '#6a1b9a', '#795548', '#607d8b', '#283593', '#1b5e20', '#333'],
            trainingSampleNames     = dataset['ids']['training'],
            trainingSamples         = dataset['samples']['training'],
            trainingPredictedLabels = dataset['predicting']['training'],
            maxMinPoint             = getPointsStatistics(trainingSamples),
            svgComponents           = setUpScatterSvg(svgOptions, maxMinPoint);

        window.svgComponents        = svgComponents
        window.svgComponents.center = {
            'x': window.svgComponents.x(maxMinPoint.xMax + maxMinPoint.xMin),
            'y': window.svgComponents.y(maxMinPoint.yMax + maxMinPoint.yMin),
        }
        for ( var i = 0; i < trainingSamples.length; ++ i ) {
            trainingSamples[i]['color'] = CLUSTER_COLORS[trainingPredictedLabels[i]];
            trainingSamples[i]['name']  = trainingSampleNames[i];
        }
        addPointsToScatterSvg(svgComponents, trainingSamples);
    }
</script>
<script type="text/javascript">
    function getPointsStatistics(trainingSamples) {
        var xMax = Number.MIN_VALUE, xMin = Number.MAX_VALUE,
            yMax = Number.MIN_VALUE, yMin = Number.MAX_VALUE;

        trainingSamples.forEach(function(point) {
            if ( point.x > xMax ) {
                xMax = point.x;
            } else if ( point.x < xMin ) {
                xMin = point.x;
            }
            if ( point.y > yMax ) {
                yMax = point.y;
            } else if ( point.y < yMin ) {
                yMin = point.y;
            }
        });
        return {
            'xMax': xMax,
            'xMin': xMin,
            'yMax': yMax,
            'yMin': yMin
        }
    }
</script>
<script type="text/javascript">
    function setUpScatterSvg(svgOptions, maxMinPoint) {
        var margin      = svgOptions.margin,
            width       = svgOptions.width - margin.left - margin.right,
            height      = svgOptions.height - margin.top - margin.bottom,
            xMax        = maxMinPoint.xMax * 1.05,
            xMin        = maxMinPoint.xMin * 1.05,
            yMax        = maxMinPoint.yMax * 1.05,
            yMin        = maxMinPoint.yMin * 1.05;

        // Setup X axis and Y axis
        var x       = d3.scaleLinear().range([0, width]).nice(),
            y       = d3.scaleLinear().range([height, 0]).nice(),
            xAxis   = d3.axisBottom(x).ticks(12),
            yAxis   = d3.axisLeft(y).ticks(12 * height / width);

        x.domain([xMin, xMax]).nice();
        y.domain([yMin, yMax]).nice();

        // Create SVG object
        var svg = d3.select('#d3-diagram').append('svg')
                    .attr('width', svgOptions.width)
                    .attr('height', svgOptions.height)
                    .append('g')
                    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

        // Create sensing area to detect zoom and drag operations
        var view = svg.append('rect')
                      .attr('class', 'view').attr('x', -width * 2).attr('y', -height * 2)
                      .attr('width', width * 3).attr('height', height * 3)
                      .style('fill', 'transparent');
        
        // Plot X axis and Y axis in SVG
        svg.append('g').attr('id', 'axis-x').attr('class', 'x axis')
           .attr('transform', 'translate(0,' + height + ')').call(xAxis);
        svg.append('g').attr('id', 'axis-y').attr('class', 'y axis').call(yAxis);

        // Handling zoom operations
        var zoom = d3.zoom().scaleExtent([1, 96])
                     .translateExtent([[-width, -height], [width * 2, height * 2]])
                     .on('zoom', function() {
                          view.attr('transform', d3.event.transform);
                          svg.select('#axis-x').call(xAxis.scale(d3.event.transform.rescaleX(x)));
                          svg.select('#axis-y').call(yAxis.scale(d3.event.transform.rescaleY(y)));
                          svg.selectAll('circle').attr('transform', d3.event.transform);
                     });
        svg.call(zoom);

        return {
            'svg': svg,
            'zoom': zoom,
            'x': x,
            'y': y
        };
    }
</script>
<script type="text/javascript">
    function addPointsToScatterSvg(svgComponents, points) {
        // Plot points in SVG
        svgComponents.svg.insert('g', 'points')
           .selectAll('.dot').data(points)
           .enter().append('circle')
           .attr('class', 'dot').attr('r', 4)
           .attr('cx', function (p) { return svgComponents.x(p.x); })
           .attr('cy', function (p) { return svgComponents.y(p.y); })
           .attr('name', function(p) { return p.name; })
           .style('fill', function(p) { return p.color; })
           .style('fill-opacity', .75)
           .on('mouseover', function(data, index) {
               $('.tooltip').html(data['name']);
               $('.tooltip').css({
                   'left': svgComponents.x(data.x),
                   'top':  svgComponents.y(data.y),
               });
               $('.tooltip').removeClass('hide');
           })
           .on('mouseout', function(data, index) {
               $('.tooltip').addClass('hide');
           });

        // Add event listeners to points
        svgComponents.svg.selectAll('circle').on('click', function(data, index) {
            var sampleName        = window.dataset['ids']['training'][index],
                neighbors         = window.dataset['nearest_neighbors'][index],
                numberOfNeighbors = parseInt($('#number-of-neighbors').val());

            if ( !d3.event.ctrlKey && !d3.event.metaKey ) {
                svgComponents.svg.selectAll('circle').attr('r', 4);
            }
            // NOTE: nth-child selector is start from 1, NOT 0.
            svgComponents.svg.select('circle:nth-child(%s)'.format(index + 1)).attr('r', 15);
            for ( var i = 0; i < numberOfNeighbors; ++ i ) {
                svgComponents.svg.select('circle:nth-child(%s)'.format(neighbors[i] + 1)).attr('r', 10);
            }
            // Display metaset of the selected samples
            var selectedSamples = getSelectedSamplesInScatterPlot(svgComponents);
            filterMetaset(selectedSamples);
        });
    }
</script>
<script type="text/javascript">
    function getSelectedSamplesInScatterPlot(svgComponents) {
        var selectedSamples = [];
        
        svgComponents.svg.selectAll('circle[r="15"]').each(function(data, index) {
            selectedSamples.push(data['name']);
        });
        svgComponents.svg.selectAll('circle[r="10"]').each(function(data, index) {
            selectedSamples.push(data['name']);
        });
        return selectedSamples;
    }
</script>
<script type="text/javascript">
    function drawHierarchyTree(dataset, svgOptions) {
        var treeData         = dataset['hierarchy'],
            svgComponents    = setUpHierarchyTreeSvg(svgOptions),
            treeRoot         = d3.hierarchy(treeData, function(d) { return d.children; });
        
        // Set global variables
        window.globalIndex            = 0,
        window.svgComponents          = svgComponents;
        window.svgComponents.treeRoot = treeRoot;
        window.svgComponents.center   = {
            'x': svgOptions.width / 2,
            'y': svgOptions.height / 2
        };
        window.leafNodes              = [];
        // Put the root of the tree in the left center of the diagram
        treeRoot.x0                   = (svgOptions.height - svgOptions.margin.top - svgOptions.margin.bottom) / 2;
        treeRoot.y0                   = 0;
        // Display tree plot
        updateHierarchyTree(treeRoot);
    }

    // Update the structure of the hierarchy tree
    function updateHierarchyTree(source) {
        // Compute the new tree layout.
        var treeData = window.svgComponents.tree(window.svgComponents.treeRoot),
            nodes    = treeData.descendants(),
            links    = treeData.descendants().slice(1);

        // Normalize for fixed-depth.
        nodes.forEach(function(d) { d.y = d.depth * 180});
        // Update the nodes...
        var node  = window.svgComponents.layer.selectAll('g.node')
                    .data(nodes, function(d) {
                        return d.id || (d.id = ++ globalIndex); 
                    });
        // Enter any new modes at the parent's previous position.
        var nodeEnter = node.enter().append('g')
                        .attr('class', 'node')
                        .attr('transform', function(d) {
                            return 'translate(%s, %s)'.format(source.y0, source.x0);
                        }).on('click', click);
        // Add Circle for the nodes
        nodeEnter.append('circle')
            .attr('class', 'node')
            .attr('r', 1e-6)
            .style('fill', function(d) {
                return d._children ? '#03a9f4' : '#fff';
            });
        // Add labels for the nodes
        nodeEnter.append('text')
            .attr('dy', '.35em')
            .attr('x', function(d) {
                return d.children || d._children ? -13 : 13;
            })
            .attr('text-anchor', function(d) {
                return d.children || d._children ? 'end' : 'start';
            })
            .text(function(d) { 
                var nodeName = d.data.name;
                if ( nodeName && nodeName != 'root' ) {
                    window.leafNodes.push(d);
                }
                return nodeName; 
            });
        
        // Transition to the proper position for the node
        var nodeUpdate = nodeEnter.merge(node);
        nodeUpdate.transition()
            .duration(750)
            .attr('transform', function(d) { 
                return 'translate(%s, %s)'.format(d.y, d.x);
            });
        // Update the node attributes and style
        nodeUpdate.select('circle.node')
            .attr('r', 10)
            .style('fill', function(d) {
                return d._children ? '#03a9f4' : '#fff';
            }).attr('cursor', 'pointer');
        // Remove any exiting nodes
        var nodeExit = node.exit().transition()
                          .duration(750)
                          .attr('transform', function(d) {
                              return 'translate(%s, %s)'.format(source.y, source.x);
                          }).remove();
        // On exit reduce the node circles size to 0
        nodeExit.select('circle').attr('r', 1e-6);
        // On exit reduce the opacity of text labels
        nodeExit.select('text').style('fill-opacity', 1e-6);

        // Update the links...
        var link = svgComponents.layer.selectAll('path.link')
                    .data(links, function(d) { return d.id; });
        // Enter any new links at the parent's previous position.
        var linkEnter = link.enter().insert('path', "g")
                            .attr('class', 'link')
                            .attr('d', function(d){
                                var o = {x: source.x0, y: source.y0};
                                return diagonal(o, o);
                            });
        // Transition back to the parent element position
        var linkUpdate = linkEnter.merge(link);
        linkUpdate.transition()
                  .duration(750)
                  .attr('d', function(d) { return diagonal(d, d.parent) });
        // Remove any exiting links
        var linkExit = link.exit().transition()
                        .duration(750)
                        .attr('d', function(d) {
                            var o = {x: source.x, y: source.y};
                            return diagonal(o, o);
                        }).remove();
        // Store the old positions for transition.
        nodes.forEach(function(d){
            d.x0 = d.x;
            d.y0 = d.y;
        });
    }

    // Creates a curved (diagonal) path from parent to the child nodes
    function diagonal(s, d) {
        return `M ${s.y} ${s.x}
            C ${(s.y + d.y) / 2} ${s.x},
            ${(s.y + d.y) / 2} ${d.x},
            ${d.y} ${d.x}`;
    }

    // Toggle children on click.
    function click(d) {
        if ( !d3.event.ctrlKey && !d3.event.metaKey ) {
            collapseHierarchyTree(d);
            updateHierarchyTree(d);
        } else {
            var selectedSamples = getSelectedSamplesInTreePlot(d);
            filterMetaset(selectedSamples);
        }
    }

    // Collapse the node and all its children
    function collapseHierarchyTree(d) {
        if ( d.children ) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
    }

    function getSelectedSamplesInTreePlot(d) {
        var queue           = [d],
            selectedSamples = [];

        while ( queue.length > 0 ) {
            var currentNode = queue[0],
                name        = currentNode.data.name,
                children    = currentNode._children || currentNode.children;
            queue.splice(0, 1); // Remove first element in queue

            if ( name && name != 'root' ) {
                selectedSamples.push(name);
            }
            if ( children ) {
                for ( var i = 0; i < children.length; ++ i ) {
                    queue.push(children[i]);
                }
            }
        }
        return selectedSamples;
    }
</script>
<script type="text/javascript">
    function setUpHierarchyTreeSvg(svgOptions) {
        var margin      = svgOptions.margin,
            width       = svgOptions.width - margin.left - margin.right,
            height      = svgOptions.height - margin.top - margin.bottom;

        // Create SVG object
        var svg   = d3.select('#d3-diagram').append('svg')
                    .attr('width', svgOptions.width)
                    .attr('height', svgOptions.height)
                    .append('g');

        // Create Tree object
        var tree  = d3.cluster().size([height, width]);
        // Create sensing area to detect zoom and drag operations
        var view  = svg.append('rect')
                      .attr('class', 'view').attr('x', -width * 2).attr('y', -height * 2)
                      .attr('width', width * 3).attr('height', height * 3)
                      .style('fill', 'none')
                      .style('pointer-events', 'all'),
            layer = svg.append("g");
        
        // Handling zoom operations
        var zoom  = d3.zoom().scaleExtent([0.1, 128]).on('zoom', function() {
                        layer.attr('transform', d3.event.transform);
                    });
        svg.call(zoom);

        return {
            'svg': svg,
            'layer': layer,
            'zoom': zoom,
            'tree': tree
        }
    }
</script>
<script type="text/javascript">
    function list(metaset) {
        var metaKeys = getMetaKeys(metaset);

        // Initialize
        $('#meta-of-neighbors table thead').empty();
        $('#meta-of-neighbors table tbody').empty();
        $('#metaset-columns').empty();

        // Display items in column filter
        for ( var i = 0; i < metaKeys.length; ++ i ) {
            $('#metaset-columns').append(
                '<li class="checkbox"><label><input type="checkbox" value="%s" %s> %s</label></li>'
                    .format(normalizeMetaKeyName(metaKeys[i]), isColumnDisplayed(i, true), metaKeys[i])
            );
        }
        $.material.checkbox();

        // Display head of table
        var tableHeadHtml  = '<td>#</td>';
        for ( var i = 0; i < metaKeys.length; ++ i ) {
            tableHeadHtml += '<td class="%s %s">%s</td>'.format(
                normalizeMetaKeyName(metaKeys[i]), isColumnDisplayed(i, false), metaKeys[i]);
        }
        $('#meta-of-neighbors table thead').append(
            '<tr>%s</tr>'.format(tableHeadHtml)
        );

        // Display body of table
        for ( var sampleId in metaset ) {
            var tableBodyHtml = '',
                sample        = metaset[sampleId];

            tableBodyHtml    += '<td>%s</td>'.format(sampleId);
            for ( var i = 0; i < metaKeys.length; ++ i ) {
                var metaKey   = metaKeys[i],
                    metaValue = sample[metaKey];
                if ( typeof(metaValue) == 'undefined' ) {
                    metaValue = '';
                }
                tableBodyHtml += '<td class="%s %s">%s</td>'.format(
                    normalizeMetaKeyName(metaKey), isColumnDisplayed(i, false), metaValue);
            }
            $('#meta-of-neighbors table > tbody').append(
                '<tr data-value="%s">%s</tr>'.format(sampleId, tableBodyHtml)
            );
        }
    }
</script>
<script type="text/javascript">
    function getMetaKeys(metaset) {
        var metaKeySet = [];

        for ( var sampleId in metaset ) {
            for ( key in metaset[sampleId] ) {
                if ( metaKeySet.indexOf(key) == -1 ) {
                    metaKeySet.push(key);
                }
            }
        }
        return metaKeySet;
    }
</script>
<script type="text/javascript">
    function isColumnDisplayed(columnIndex, isCheckbox) {
        var INDEX_BOUND  = 2;

        if ( isCheckbox ) {
            return columnIndex <= INDEX_BOUND ? 'checked="checked"' : '';
        } else {
            return columnIndex <= INDEX_BOUND ? '' : 'hide';
        }
    }
</script>
<script type="text/javascript">
    function normalizeMetaKeyName(metaKeyName) {
        return metaKeyName.replace(/[\/ \+\.#]/g, '-');
    }
</script>
<script type="text/javascript">
    $('#metaset-columns').on('click', '.checkbox', function() {
        var checkbox    = $('input[type=checkbox]', $(this)),
            columnName  = checkbox.val(), 
            isChecked   = checkbox.is(':checked');

        if ( isChecked ) {
            $('td.%s'.format(columnName), '#meta-of-neighbors table').removeClass('hide');
        } else {
            $('td.%s'.format(columnName), '#meta-of-neighbors table').addClass('hide');
        }
    });
</script>
<script type="text/javascript">
    $('#sample-search-button').click(function() {
        var sampleName  = $('#sample-search-box').val();
        
        if ( window.isScatterPlot ) {
            var sampleIndex = getSampleIndex(sampleName);
            if ( sampleIndex == -1 ) {
                return;
            }
            transformScatterPlot(sampleIndex + 1);
        } else {
            var sampleNode = getSampleNode(sampleName);
            if ( typeof(sampleNode) == 'undefined' ) {
                return;
            }
            transformTreePlot(sampleNode);
        }
    });
</script>
<script type="text/javascript">
    function getSampleIndex(sampleName) {
        var samples = window.dataset['ids']['training'];

        for ( var i = 0; i < samples.length; ++ i ) {
            if ( samples[i].toLowerCase() == sampleName.toLowerCase() ) {
                return i;
            }
        }
        return -1;
    }
</script>
<script type="text/javascript">
    function getSampleNode(sampleName) {
        for ( var i = 0; i < window.leafNodes.length; ++ i ) {
            if ( window.leafNodes[i].data.name.toLowerCase() == sampleName.toLowerCase() ) {
                return window.leafNodes[i];
            }
        }
    }
</script>
<script type="text/javascript">
    function transformScatterPlot(sampleIndex) {
        var circle      = window.svgComponents.svg.select('circle:nth-child(%s)'.format(sampleIndex)),
            transform   = d3.zoomIdentity.translate(
                window.svgComponents.center.x - circle.attr('cx'),
                window.svgComponents.center.y - circle.attr('cy')).scale(1);

        window.svgComponents.svg.selectAll('circle').attr('r', 4);
        circle.attr('r', 15);
        window.svgComponents.svg
              .transition().duration(750)
              .call(window.svgComponents.zoom.transform, transform);
    }
</script>
<script type="text/javascript">
    function transformTreePlot(sampleNode) {
        var currentParent = sampleNode;

        // Collpase nodes
        while ( currentParent != null ) {
            currentParent = currentParent.parent;
            if ( currentParent && currentParent.children == null ) {
                collapseHierarchyTree(currentParent);
                updateHierarchyTree(currentParent);
            }
        }

        // Move the sample node to center screen
        var transform   = d3.zoomIdentity.translate(
                window.svgComponents.center.x - sampleNode.y,
                window.svgComponents.center.y - sampleNode.x).scale(1);
        window.svgComponents.svg
              .transition().duration(750)
              .call(window.svgComponents.zoom.transform, transform);
    }
</script>
<script type="text/javascript">
    $('#reset-button').click(function() {
        // Collapse all tree nodes and set all circle to initial state
        if ( window.isScatterPlot ) {
            window.svgComponents.svg.selectAll('circle').attr('r', 4);
        } else {
            var queue = [window.svgComponents.treeRoot];
            while ( queue.length > 0 ) {
                var currentNode     = queue[0],
                    hiddenChildren  = currentNode._children;
                queue.splice(0, 1); // Remove first element in queue

                if ( hiddenChildren ) {
                    collapseHierarchyTree(currentNode);
                }
                
                var children        = currentNode.children;
                if ( children ) {
                    for ( var i = 0; i < children.length; ++ i ) {
                        queue.push(children[i]);
                    }
                }
            }
            updateHierarchyTree(window.svgComponents.treeRoot);
        }
        // Reset metaset list
        filterMetaset();
        // Set view to initial view
        window.svgComponents.svg
              .transition().duration(750)
              .call(window.svgComponents.zoom.transform, d3.zoomIdentity);
    });
</script>
<script type="text/javascript">
    function filterMetaset(samples) {
        if ( typeof(samples) == 'undefined' ) {
            $('#meta-of-neighbors table tbody tr').removeClass('hide');
        } else {
            $('#meta-of-neighbors table tbody tr').addClass('hide');
            for ( var i = 0; i < samples.length; ++ i ) {
                $('#meta-of-neighbors table tbody tr[data-value="%s"]'
                    .format(samples[i])).removeClass('hide');
            }
        }
    }
</script>
{% end %}
